
Global Indicator Framework after 2019 refinement.English.xlsx

.~lock.Global Indicator Framework after 2019 refinement.English.xlsx#

Global Indicator Framework after 2019 refinement.English.ods

EigenstErklaerung_unterschrieben.pdf

EE_unterschrieben.pdf
